<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sd.mapper.UserMapper">

    <select id="findOneByUserName" parameterType="String" resultType="User">
        select * from t_user where username=#{username}
    </select>
    
    <insert id="insertUser" parameterType="User">
        insert into t_user (username,password,phone,created,role) values (#{username},#{password},#{phone},#{created},#{role})
    </insert>
</mapper>